html {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px !important;
    font-weight: 400;
    font-family: Inter, Helvetica, "sans-serif";
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-header {
    height: 12.5%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px 0px #e3e3e3;
    border-bottom: 1px solid rgb(209, 208, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #5E6278;
    position: sticky;
    top: 0;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.nav-icons {
    display: flex;
    gap: 19px;
}

.nav-icons span {
    cursor: pointer;
    padding: 6px;
}

.nav-icons span:hover {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}

.nav-icons span svg:hover {
    color: blue;
}

.sidebar {
    background-color: #202B46;
    width: 22%;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sidebar-header {
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0; */
    height: 10%;
    border-bottom: 1px dashed #33446C;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0px;
    background-color:  #202B46;;
}

.sidebar-footer button {
    padding: 0.5rem 2.2rem;
    color: #B5B5C3;
    border: none;
    border-radius: 5px;
    background-color: rgba(63, 66, 84, 0.35);
}


.sidebar-items {
    color: #8D98AF;
    display: grid;
    gap: 15px;
    margin-top: 20px;
}

.menu-icon-1 {
    align-self: center;
    margin-right: 1rem;
}

.menu-icon-2 {
    margin-left: auto;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu-title {
    font-weight: 600;
    font-size: 14px;
}

.arrow {
    border: solid #8D98AF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.pt-2 {
    color: #646477;
    margin-bottom: 5px;
}

.app-container {
    padding: 2.5%;
    height: 100%;
}

.app-header {
    display: flex;
    justify-content: space-between;
}

.app-header-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select-drp {
    position: relative;
    margin-right: 35px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ededed;
    color: #5E6278;
    cursor: pointer;
}

.select-drp i {
    align-self: center;
}

.plus-icon {
    height: 36px;
    width: 36px;
    border-radius: 7px;
    background-color: #47BE7D;
    color: white;
    display: grid;
    place-items: center;
}

.app-content {
    height: 100%;
}

.card {
    height: 40%;
    background-color: green;
}


@media (max-width: 900px) {
    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        bottom: 0;
        width: 75%;
        display: none;
    }
    .sidebar-header {
        display: none;
    }
    .nav-items {
        display: none;
    }
}